<table style="background-color: gray; border-radius: 10px">
    <tr>
        <td>
            <table class="content"
                   style="
          width: 100%;
          background-color: white;
          border-radius: 10px;
          box-shadow: 2px 2px 10px black;
          padding-inline: 10px;
          font-family: Arial, Helvetica, sans-serif;
          font-size: large;
        ">
                <tr>
                    <td>
                        <div class="notificationBlock"
                             style="
                                background-color: #00aa55;
                                border-radius: 10px;
                                margin-top: 10px;
                                font-weight: bold;
                                width: 100%;
                                color: white;
                                text-align: center;
                                height: 60px;
                                padding-top: 30px;
                                font-size: larger
                              ">
                            Verified Code
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p style="font-weight: bold; text-align: center">Chào bạn,</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p style="text-align: center">
                            Cảm ơn bạn đã sử dụng ứng dụng Skill Exchange <br />
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p style="
                font-weight: bold;
                color: #ea4335;
                margin-top: 5px;
                text-align: center;
              ">
                            Đây là mã code để bạn xác minh với chúng tôi
                        </p>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: center">
                        <img src="https://res.cloudinary.com/ds2fx7m1z/image/upload/v1728641938/coffee/lhcgxdzgrejoxm3zjwez.png"
                             style="width: 40%" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <p style="
                font-weight: bold;
                font-size: 35px;
                color: #4285f4;
                text-align: center;
              ">
                            {code}
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p style="
                font-style: italic;
                font-size: smaller;
                text-align: center;
                margin-bottom: 40px;
              ">
                            - Cảm ơn bạn đã sử dụng dịch vụ chúng tôi - <br />
                            Xin chân thành cảm ơn
                        </p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
